<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="30000">
        <setting id="home" type="text" label="30010" default="https://www.kodinerds.net" />
        <setting id="show" type="bool" label="30011" default="false"/>
        <setting id="zoom" type="slider" label="30012" default="1.0" range="0.8,1.5" option="float" />
    </category>   
    <category label="30001">
            <setting id="reload" type="bool" label="30020" default="false"/>
            <setting id="fav01" type="text" label="30021" />
            <setting id="fav02" type="text" label="30022" />
            <setting id="fav03" type="text" label="30023" />
            <setting id="fav04" type="text" label="30024" />
            <setting id="fav05" type="text" label="30025" />
            <setting id="fav06" type="text" label="30026" />
            <setting id="fav07" type="text" label="30027" />
            <setting id="fav08" type="text" label="30028" />
            <setting id="fav09" type="text" label="30029" />
    </category>   
    <category label="30002">
        <setting label="30040" type="executable" id="file" value="phantojs.exe"/>
    </category>
</settings>
